body {
margin: 0;
font-family: Arial;
background: #f5f5f5;
}
nav {
display: flex;
justify-content: space-between;
padding: 20px 40px;
background: white;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
nav h1 { color: #e4b400; }
nav ul { display: flex; gap: 20px; list-style: none; }


.hero {
display: grid;
grid-template-columns: 1fr 1fr;
padding: 60px;
gap: 40px;
}
.hero h1 { font-size: 48px; }
.hero p { font-size: 18px; color: #555; }
.hero-img img {
width: 300px;
border-radius: 20px;
box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}


.btn-group { display: flex; gap: 20px; }
.btn-main {
background: #e4b400;
color: white;
padding: 12px 25px;
border: none;
border-radius: 8px;
}
.btn-sec {
border: 2px solid #e4b400;
padding: 12px 25px;
background: white;
color: #e4b400;
border-radius: 8px;
}